.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Thêm chiều rộng màn hình */
  height: 100vh; /* Thêm chiều cao màn hình */
  background-color: #f0f8ff;
  text-align: center;
  overflow: hidden; /* Ngăn chặn tràn nội dung */
  margin: 0; /* Loại bỏ bất kỳ lề mặc định nào */
}

.card {
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
