/* Container */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow: hidden;
  text-align: center;
}

/* Cây thông Noel */
.tree {
  width: 500px;
  height: fit-content;
  object-fit: contain;
  margin-bottom: 30px;
}

/* Tuyết rơi */
.snowflake {
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Hiệu ứng trượt vào */
.typing {
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: slideIn 2s ease-out forwards, blink-caret 0.75s step-end infinite;
  color: #2d79ae;
}

/* Hiệu ứng trượt vào từ trái */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Hiệu ứng nháy con trỏ */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Lời chúc */
.typing2 {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 20px;
  animation: slideIn 2s ease-out forwards, blink-caret 0.75s step-end infinite;
  color: #2d79ae;
}

.typing + .typing2 {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .typing {
    font-size: 2rem;
  }
  .typing2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .container {
    height: 100vh;
    padding: 20px;
  }

  .tree {
    width: 300px;
    height: fit-content;
  }

  .typing {
    font-size: 1.5rem;
  }

  .typing2 {
    font-size: 1rem;
  }

  .snowflake {
    width: 8px;
    height: 8px;
  }
}

@media (min-width: 1024px) {
  .typing {
    font-size: 3rem;
  }

  .typing2 {
    font-size: 2rem;
  }
}
